@import "tailwindcss";

@theme {
  --color-primary-500: #2563eb; /* blue-600 */
  --color-primary-600: #1e40af; /* blue-800 / navy */
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0b1220; /* darker navy */
      --foreground: #f9fafb; /* gray-50 */
    }
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
